<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ketchupCreateModalLabel">Request ketchup to <%= notification.actor.full_name %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-left">
      <%= form_with model: [trip, ketchup], local: true, id: 'ketchup-form' do |form| %>
        <div class="d-flex justify-content-between">
          <div class="form-group">
          <%= form.label 'Start date & time (UTC)' %>
          <%= form.text_field :start_date, class: 'daterange form-control ', id: 'ketchup_start_date_' + notification.notifiable_id.to_s %>
          </div>
          <div class="form-group">
            <%= form.label 'Duration (in min)' %>
            <%= form.text_field :duration, type: "number", value: 30, min: 30, step: 15, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= form.label "Where do you want to Ketchup" %>
          <%= form.text_field :location, class: 'form-control', id: 'ketchup_location_' + notification.notifiable_id.to_s, onkeypress: "return event.keyCode!=13" %>
          <%= form.text_field :latitude, type: "hidden", id: 'ketchup_latitude_' + notification.notifiable_id.to_s %>
          <%= form.text_field :longitude, type: "hidden", id: 'ketchup_longitude_' + notification.notifiable_id.to_s %>
        </div>
        <div class="form-group">
          <%= form.label :message %>
          <%= form.text_area :message, class: 'form-control' %>
        </div>
    </div>
    <div class="modal-footer">
      <%= form.submit "Send ketchup request", class: 'btn btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
