<%#= simple_form_for [@trip, @ketchup], data: { controller: "places", action: "google-maps-callback@window->places#initializeMap" } do |f| %>
  <%#= f.association :user, collection: @friends, label: 'Friends', :label_method => :full_name, :value_method => :id, prompt: "Choose a friend" %>
  <%#= f.input :start_date, label: 'Start date & time (UTC)' %>
  <%#= f.input :end_date, label: 'End date & time (UTC)' %>
  <%#= f.input :start_time %>
  <%#= f.input :duration, label: 'Duration (in min)', input_html: { value: 30, min: 30, step: 15 } %>
  <%#= f.input :location, data: { target: "places.field" } %>
  <%#= f.input :latitude, :as => :hidden, data: { target: "places.latitude" } %>
  <%#= f.input :longitude, :as => :hidden, data: { target: "places.longitude" } %>
  <%#= f.input :message %>
  <%#= f.submit "Send ketchup request", class: "btn btn-flat" %>
<%# end %>

<%= form_with model: [@trip, @ketchup], local: true, data: { controller: :places, action: "google-search-callback@window->places#initializeMap" } do |form| %>
  <div class="form-group">
    <%= form.label 'Choose a friend to ketchup with:' %>
    <%= form.collection_select :user, @friends, :id, :full_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Start date & time (UTC)' %>
    <%= form.text_field :start_date, type: "datetime-local", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'End date & time (UTC)' %>
    <%= form.text_field :end_date, type: "datetime-local", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Where do you want to Ketchup" %>
    <%= form.search_field :location, name: nil, class: 'form-control', data: { target: "places.field", action: "keydown->places#preventSubmit" } %>
    <%= form.text_field :latitude, type: "hidden", data: { target: "places.latitude" }, class: 'form-control' %>
    <%= form.text_field :longitude, type: "hidden", data: { target: "places.longitude" }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_field :message, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Send ketchup request", class: 'btn btn-flat' %>
  </div>
<% end %>
