<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ketchupCreateModalLabel">Request ketchup to <%= people.full_name %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-left">
      <%= simple_form_for [trip, ketchup], html: {id: "ketchup-form_#{people.id}"} do |f| %>
        <div class="d-flex justify-content-between">
          <%= f.input :start_date, as: :string, label: 'Start date & time (UTC)', input_html: {id: "ketchup_start_date_#{people.id}"} %>
          <div class="form-group">
            <label for="ketchup_Duration (in min)">Duration (in min)</label>
            <input type="number" value="30" min="30" step="15" class="form-control" id="ketchup_duration_<%= people.id %>" name="ketchup[duration]">
          </div>
        </div>
        <%= f.input :location, label: 'Where do you want to Ketchup', input_html: {id: "ketchup_location_#{people.id}"}, onkeypress: "return event.keyCode!=13" %>
        <%= f.input :latitude, as: :hidden, input_html: {id: "ketchup_latitude_#{people.id}"} %>
        <%= f.input :longitude, as: :hidden, input_html: {id: "ketchup_longitude_#{people.id}"} %>
        <%= f.input :user_id, as: :hidden, input_html: {value: people.id} %>
        <%= f.input :message, id: "ketchup_message_#{people.id}" %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Send ketchup request", class: 'btn btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
