<%#= simple_form_for @trip, data: { controller: :places, action: "google-maps-callback@window->places#initializeMap" } do |f| %>
  <%#= f.input :start_date, as: :date %>
  <%#= f.input :end_date, as: :date %>
  <%#= f.input :location, as: :string, data: { target: "places.field", action: "keydown->places#preventSubmit" } %>
  <%#= f.submit "Search your connections", class: "btn btn-flat" %>
<%# end %>

<%= simple_form_for @trip do |f| %>
  <div class="trip-form col-xs-12 col-md-8 offset-md-2">
    <div style="flex: 0 0 35%;">
      <input class="daterange form-control" type="text" name="trip[dates]" id="trip_dates">
    </div>
    <div style="flex: 0 0 35%;">
      <%= f.input :location, input_html: {placeholder: "Enter a city"}, label: false, onkeypress: "return event.keyCode!=13" %>
      <%= f.input :latitude, as: "hidden" %>
      <%= f.input :longitude, as: "hidden" %>
      <%= f.input :country_code, as: "hidden" %>
    </div>
    <div class="actions" style="flex: 0 0 30%;">
      <%= f.submit "Search connections", class: 'btn btn-flat mt-0 select-btn' %>
    </div>

  </div>
<% end %>
