<%#= simple_form_for @trip, data: { controller: :places, action: "google-maps-callback@window->places#initializeMap" } do |f| %>
  <%#= f.input :start_date, as: :date %>
  <%#= f.input :end_date, as: :date %>
  <%#= f.input :location, as: :string, data: { target: "places.field", action: "keydown->places#preventSubmit" } %>
  <%#= f.submit "Search your friends", class: "btn btn-flat" %>
<%# end %>

<%= form_with model: @trip, local: true, data: { controller: :places, action: "google-maps-callback@window->places#initializeMap" } do |form| %>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, type: "date", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, type: "date", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control', data: { target: "places.field", action: "keydown->places#preventSubmit" } %>
  </div>

  <%= content_tag :latitude, nil, data: { target: "places.latitude" } %>
  <%= content_tag :longitude, nil, data: { target: "places.longitude" } %>
  <%= content_tag :div, nil, data: { target: "places.map" } %>

  <div class="actions">
    <%= form.submit "Search your friends", class: 'btn btn-flat' %>
  </div>
<% end %>
