<%#= simple_form_for @trip, data: { controller: :places, action: "google-maps-callback@window->places#initializeMap" } do |f| %>
  <%#= f.input :start_date, as: :date %>
  <%#= f.input :end_date, as: :date %>
  <%#= f.input :location, as: :string, data: { target: "places.field", action: "keydown->places#preventSubmit" } %>
  <%#= f.submit "Search your friends", class: "btn btn-flat" %>
<%# end %>

<%= form_with model: @trip, local: true, class: 'trip-form' do |form| %>
  <div class="d-flex justify-content-center">
    <div class="form-group" style="flex: 1 0 25%;">
      <%= form.label :start_date %>
      <%= form.text_field :start_date, type: "date", class: 'form-control' %>
    </div>

    <div class="form-group" style="flex: 1 0 25%;">
      <%= form.label :end_date %>
      <%= form.text_field :end_date, type: "date", class: 'form-control' %>
    </div>

    <div class="form-group" style="flex: 1 0 25%;">
      <%= form.label "City" %>
      <%= form.text_field :location, class: 'form-control', placeholder: "Enter a city", onkeypress: "return event.keyCode!=13" %>
      <%= form.text_field :latitude, type: "hidden", class: 'form-control' %>
      <%= form.text_field :longitude, type: "hidden", class: 'form-control' %>
    </div>

    <div class="actions" style="flex: 0 0 12%; display: flex; align-items: center;">
      <%= form.submit "Search friends", class: 'btn btn-flat mt-0' %>
    </div>

  </div>
<% end %>
