<%#= simple_form_for @trip, data: { controller: :places, action: "google-maps-callback@window->places#initializeMap" } do |f| %>
  <%#= f.input :start_date, as: :date %>
  <%#= f.input :end_date, as: :date %>
  <%#= f.input :location, as: :string, data: { target: "places.field", action: "keydown->places#preventSubmit" } %>
  <%#= f.submit "Search your connections", class: "btn btn-flat" %>
<%# end %>

<%= form_with model: @trip, local: true, class: 'trip-form' do |form| %>
  <div class="trip-form col-xs-12 col-md-8 offset-md-2">
    <div class="form-group" style="flex: 0 0 35%;">
      <%= form.text_field :dates, class: "daterange form-control" %>
    </div>
    <div class="form-group" style="flex: 0 0 35%;">
      <%= form.text_field :location, class: 'form-control', placeholder: "Enter a city", onkeypress: "return event.keyCode!=13" %>
      <%= form.text_field :latitude, type: "hidden", class: 'form-control' %>
      <%= form.text_field :longitude, type: "hidden", class: 'form-control' %>
    </div>
    <div class="actions" style="flex: 0 0 30%;">
      <%= form.submit "Search connections", class: 'btn btn-flat mt-0 select-btn' %>
    </div>

  </div>
<% end %>
