<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Trip to <%= @trip.location %> from <%= @start_month %> <%= @start_day %> <%= @start_year if @start_year != @end_year %> to <%= @end_month %> <%= @end_day %> <%= @end_year %></h1>
      <div class="d-flex justify-content-between">
        <div style="flex: 0 0 55%">
          <% if @trip.status == 'saved' %>
            <ul class="list-inline tabs-underlined">
              <!-- tabs without js function need to add js to show the right div -->
              <li>
                <p class="tab-underlined active-tab">People (<%= @people_to_show.count %>)</p>
              </li>
            </ul>
          <% else %>
            <ul class="list-inline tabs-underlined">
              <!-- tabs without js function need to add js to show the right div -->
              <li>
                <p class="tab-underlined active-tab">People (<%= @people_to_show.count %>)</p>
              </li>
              <li>
                <p class="tab-underlined">Ketchups (<%= @trip.ketchups.count %>)</p>
              </li>
              <% unless current_user.access_token.nil? %>
                <li>
                  <p class="tab-underlined">Calendar</p>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div>
          <!-- need to remove edit button from saved when confirm function is implemented -->
          <% if @trip.status == 'saved' %>
            <%= link_to 'Delete this search', trip_path(@trip), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-ghost mt-3 mr-2' %>
            <%= link_to 'Confirm this trip', trip_path(@trip), method: :patch || :put, class: 'btn btn-flat mt-3 mr-2' %>
          <% elsif @trip.status == 'confirmed' %>
            <%= link_to 'Change dates', '', data: { toggle: "modal", target: "#tripEditModal" }, class: 'btn btn-ghost mt-3 mr-2' %>
            <%= link_to 'Delete trip', trip_path(@trip), method: :patch || :put, data: {confirm: 'Delete trip and associated ketchups?'}, class: 'btn btn-ghost mt-3 mr-2' %>
            <%= link_to 'Create another trip', root_path, class: 'btn btn-flat mt-3 mr-2' %>
          <% end %>
        </div>
      </div>
      <!-- connections div -->
      <div class="lists">
        <div class="cards-connections">
          <% @people_to_show.each do |people| %>
              <div class="card-vertical-connection">
                <img src="https://kitt.lewagon.com/placeholder/users/<%= people.lewagon_username %>" />
                <div class="card-vertical-connection-infos">
                  <h3><%= people.full_name %></h3>
                  <!-- <p>Available dates: </p> -->
                  <br>
                </div>
                <div class="card-vertical-connection-btn">
                  <% if current_user.is_connection?(people) %>
                    <%= simple_form_for [people, @chat], html: { id: "new_chat_#{people.id}" } do |f| %>
                      <%= f.submit "Chat", class: 'btn btn-ghost btn-left mb-0' %>
                    <% end %>
                    <%= link_to 'Ketchup', '', data: { toggle: "modal", target: "#ketchupCreateModal-#{people.id}" }, class: 'btn btn-ghost btn-right mb-0' %>
                    <div class="modal fade" id="ketchupCreateModal-<%= people.id %>" tabindex="-1" role="dialog" aria-labelledby="ketchupCreateModalLabel" aria-hidden="true">
                      <%= render 'ketchups/form_from_trip', trip: @trip, ketchup: @ketchup, people: people %>
                    </div>
                  <% elsif current_user.sent_connect_request?(people) %>
                    <button class='btn-ghost btn-center disabled' disabled="disabled">Sent</button>
                  <% elsif current_user.received_connect_request?(people) %>
                    <button class='btn-ghost btn-center disabled' disabled="disabled">Received</button>
                  <% else %>
                    <%= simple_form_for [people, @connect_request], html: { class: 'new_connect_request center', id: "new_connect_request_#{people.id}" } do |f| %>
                      <%= f.submit "Connect request", class: "btn btn-ghost btn-center mb-0" %>
                    <% end %>
                  <% end %>
                  <%#= link_to 'Start a chat', chats_path(user_id: people.id), method: :post, class: 'btn btn-ghost mb-0' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      <% if @trip.status == 'confirmed' %>
        <!-- ketchups div -->
        <div class="lists">
          <div class="ketchups">
            <% if @trip.ketchups.any? %>
              <h3>Pending ketchup</h3>
              <% @trip.ketchups.each do |ketchup| %>
                <% if ketchup.status == 'pending' %>
                  <p><%= link_to "Ketchup requested to #{ketchup.user.full_name}", ketchup_path(ketchup) %></p>
                <% end %>
              <% end %>
              <h3>Confirmed ketchup</h3>
              <% @trip.ketchups.each do |ketchup| %>
                <% if ketchup.status == 'confirmed' %>
                  <p><%= link_to "Confirmed ketchup with #{ketchup.user.full_name}", ketchup_path(ketchup) %></p>
                <% end %>
              <% end %>
            <% else %>
              <p>No ketchup yet</p>
            <% end %>
          </div>
        </div>
        <!-- calendar div -->
        <% unless current_user.access_token.nil? %>
          <div class="lists">
            <div class="responsiveCal">
              <iframe
                src="https://calendar.google.com/calendar/embed?src=<%= current_user.email %>&ctz=<%= Time.zone %>"
                style="border: 0" frameborder="0">
              </iframe>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="tripEditModal" tabindex="-1" role="dialog" aria-labelledby="tripEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tripEditModalLabel">Change dates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <%= simple_form_for @trip do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, 'Confirm', class: 'btn-flat' %>
        <%= link_to 'Cancel trip', trip_path(@trip), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-ghost', style: 'margin-left:16px; border-radius: 4px !important;' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
<script>
  function initMap() {
    <% @people_to_show.each do |people| %>
      <% if current_user.is_connection?(people) %>
        var input<%= people.id %> = document.getElementById('ketchup_location_<%= people.id %>');
        var autocomplete<%= people.id %> = new google.maps.places.Autocomplete(input<%= people.id %>, {types: ['establishment']});
        autocomplete<%= people.id %>.setFields(['geometry', 'name']);
        autocomplete<%= people.id %>.addListener('place_changed', fillInForm<%= people.id %>);
        function fillInForm<%= people.id %>() {
          var place<%= people.id %> = autocomplete<%= people.id %>.getPlace();
          if (!place<%= people.id %>.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place<%= people.id %>.name + "'");
            return;
          }
          document.getElementById('ketchup_latitude_<%= people.id %>').value = place<%= people.id %>.geometry.location.lat()
          document.getElementById('ketchup_longitude_<%= people.id %>').value = place<%= people.id %>.geometry.location.lng()
        }
      <% end %>
    <% end %>
  }
  <% @people_to_show.each do |people| %>
    <% if current_user.is_connection?(people) %>
      $(document).ready(function() {
        $('#ketchup_start_date_<%= people.id %>').daterangepicker({
          singleDatePicker: true,
          timePicker: true,
          timePicker24Hour: true,
          timePickerIncrement: 15,
          startDate: '<%= @default_date %>',
          minDate: '<%= @start_date %>',
          maxDate: '<%= @end_date %>',
          opens: "right",
          locale: {
            format: 'MMM DD, YYYY hh:mm A'
          }
        });
      });
    <% end %>
  <% end %>
  const tabs = document.querySelectorAll('.tab-underlined')
  const lists = document.querySelectorAll('.lists')
  const entries = function*(iterable) {
    let i = 0;
    for (item of iterable) {
      yield [i++, item]
    }
  }
  const showBlock = index => {
    for (const [blockIndex, block] of entries(lists)) {
      block.style.display = blockIndex === index ? 'block' : 'none'
    }
  }
  showBlock(0)
  for (const [tabIndex, tab] of entries(tabs)) {
    tab.addEventListener('click', e => {
      e.preventDefault()
      showBlock(tabIndex)
      const activeTab = document.querySelector('.active-tab');
      event.currentTarget.classList.toggle('active-tab');
      if (activeTab !== null) {
        activeTab.classList.remove('active-tab');
      }
    })
  }
</script>
