<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <h1>Trip to <%= @trip.location %> from <%= @start_month %> <%= @start_day %> <%= @start_year if @start_year != @end_year %> to <%= @end_month %> <%= @end_day %> <%= @end_year %></h1>
        <% if @trip.status == 'saved' %>
          <%= link_to 'Confirm this trip', '#', class: 'btn btn-ghost' %>
        <% end %>
      </div>
      <ul class="list-inline tabs-underlined">
        <li>
          <a href="#" class="tab-underlined active">Friends</a>
        </li>
        <li>
          <a href="#" class="tab-underlined">Ketchups</a>
        </li>
      </ul>
      <div class="cards-friends">
        <% @friends.each do |friend| %>
          <div class="card-vertical-friend">
            <img src="https://kitt.lewagon.com/placeholder/users/<%= friend.lewagon_username %>" />
            <div class="card-vertical-friend-infos">
              <h3><%= friend.full_name %></h3>
              <p>Available dates: </p>
              <br>
            </div>
            <div class="card-vertical-friend-btn">
              <a class="btn btn-ghost mb-0" href="#">Start a chat</a>
            </div>
          </div>
        <% end %>
      </div>
      <div class="ketchups">
        <% if @ketchups.any? %>
          <ul>
            <% @ketchups.each do |ketchup| %>
              <li><%= link_to "Your ketchup with #{ketchup.user.full_name}", ketchup_path(ketchup) %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No ketchup yet</p>
        <% end %>
        <%= link_to 'Create new ketchup', '#' %>
        <%= render 'ketchups/form' %>
      </div>
    </div>
  </div>
</div>
