<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Trip to <%= @trip.location %> from <%= @start_month %> <%= @start_day %> <%= @start_year if @start_year != @end_year %> to <%= @end_month %> <%= @end_day %> <%= @end_year %></h1>
      <div class="d-flex justify-content-between">
        <div style="flex: 0 0 60%">
          <% if @trip.status == 'saved' %>
            <ul class="list-inline tabs-underlined">
              <!-- tabs without js function need to add js to show the right div -->
              <li>
                <p class="tab-underlined active">Friends (<%= @friends.count %>)</p>
              </li>
            </ul>
          <% else %>
            <ul class="list-inline tabs-underlined">
              <!-- tabs without js function need to add js to show the right div -->
              <li>
                <p class="tab-underlined active">Friends (<%= @friends.count %>)</p>
              </li>
              <li>
                <p class="tab-underlined">Ketchups (<%= @trip.ketchups.count %>)</p>
              </li>
              <li>
                <p class="tab-underlined">Calendar</p>
              </li>
            </ul>
          <% end %>
        </div>
        <div>
          <!-- need to remove edit button from saved when confirm function is implemented -->
          <% if @trip.status == 'saved' %>
            <%= link_to 'Delete this search', trip_path(@trip), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-ghost mt-3 mr-2' %>
            <%= link_to 'Confirm this trip', trip_path(@trip), method: :patch || :put, class: 'btn btn-flat mt-3 mr-2' %>
          <% elsif @trip.status == 'confirmed' %>
            <%= link_to 'Change dates', '', data: { toggle: "modal", target: "#tripEditModal" }, class: 'btn btn-ghost mt-3 mr-2' %>
            <%= link_to 'Create new trip', root_path, class: 'btn btn-flat mt-3 mr-2' %>
          <% end %>
        </div>
      </div>
      <!-- friends div -->
      <div class="cards-friends">
        <% @friends.each do |friend| %>
          <div class="card-vertical-friend">
            <img src="https://kitt.lewagon.com/placeholder/users/<%= friend.lewagon_username %>" />
            <div class="card-vertical-friend-infos">
              <h3><%= friend.full_name %></h3>
              <!-- <p>Available dates: </p> -->
              <br>
            </div>
            <div class="card-vertical-friend-btn">
              <%= simple_form_for [friend, @chat], html: { id: "new_chat_#{friend.id}" } do |f| %>
                <%= f.submit "Start a chat", class: 'btn btn-ghost mb-0' %>
              <% end %>
              <%#= link_to 'Start a chat', chats_path(user_id: friend.id), method: :post, class: 'btn btn-ghost mb-0' %>
            </div>
          </div>
        <% end %>
      </div>
      <% if @trip.status == 'confirmed' %>
        <!-- calendar div -->
        <div class="responsiveCal">
          <iframe
            src="https://calendar.google.com/calendar/embed?src=<%= current_user.email %>&ctz=<%= Time.zone %>"
            style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
          </iframe>
        </div>

        <!-- ketchups div -->

        <div class="ketchups">
          <% if @trip.ketchups.any? %>
            <h3>Pending ketchup</h3>
            <% @trip.ketchups.each do |ketchup| %>
              <% if ketchup.status == 'pending' %>
                <p><%= link_to "Ketchup requested to #{ketchup.user.full_name}", ketchup_path(ketchup) %></p>
              <% end %>
            <% end %>
            <h3>Confirmed ketchup</h3>
            <% @trip.ketchups.each do |ketchup| %>
              <% if ketchup.status == 'confirmed' %>
                <p><%= link_to "Confirmed ketchup with #{ketchup.user.full_name}", ketchup_path(ketchup) %></p>
              <% end %>
            <% end %>
          <% else %>
            <p>No ketchup yet</p>
          <% end %>
          <!-- will be button to open modal once implemented -->
          <%= link_to 'Create new ketchup', '#' %>
          <!-- will move this from to modal -->
          <%= render 'ketchups/form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="tripEditModal" tabindex="-1" role="dialog" aria-labelledby="tripEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tripEditModalLabel">Change dates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <%= simple_form_for @trip do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, 'Confirm', class: 'btn-flat' %>
        <%= link_to 'Cancel trip', trip_path(@trip), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-ghost', style: 'margin-left:16px; border-radius: 4px !important;' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
<script>
  form = document.getElementById('ketchup-form');
  function initMap() {
    if (form) {
      let input = document.getElementById('ketchup_location');
      let autocomplete = new google.maps.places.Autocomplete(input, {types: ['establishment']});
      autocomplete.setFields(['geometry', 'name']);
      autocomplete.addListener('place_changed', fillInForm);
      function fillInForm() {
        let place = autocomplete.getPlace()
      if (!place.geometry) {
        // User entered the name of a Place that was not suggested and
        // pressed the Enter key, or the Place Details request failed.
        window.alert("No details available for input: '" + place.name + "'");
        return;
      }
      document.getElementById('ketchup_latitude').value = place.geometry.location.lat()
      document.getElementById('ketchup_longitude').value = place.geometry.location.lng()
      }
    }
  }
  $(document).ready(function() {
    $('input[class="daterange form-control"]').daterangepicker({
      singleDatePicker: true,
      timePicker: true,
      timePicker24Hour: true,
      timePickerIncrement: 15,
      startDate: '<%= @default_date %>',
      minDate: '<%= @start_date %>',
      maxDate: '<%= @end_date %>',
      opens: "right",
      locale: {
        format: 'MMM DD, YYYY hh:mm A'
      }
    });
  });
</script>
