<div class="container">
  <div class="row">
    <div class="col-10 offset-1 col col-md-6 offset-md-3">
      <h1>Sign up</h1>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="d-flex justify-content-between">
            <div style="flex: 0 0 45%"><%= f.input :first_name %></div>
            <div style="flex: 0 0 45%"><%= f.input :last_name %></div>
          </div>

          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :home_city, label: 'Home city', placeholder: 'Current city', onkeypress: "return event.keyCode!=13" %>
          <%= f.input :latitude, as: :hidden, class: 'form-control' %>
          <%= f.input :longitude, as: :hidden, class: 'form-control' %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'btn-flat mb-4', style: "width: 100%;" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
<script>
  function initMap() {
    let input = document.getElementById('user_home_city');
    let autocomplete = new google.maps.places.Autocomplete(input, {types: ['(cities)']});
    autocomplete.setFields(['geometry', 'name']);
    autocomplete.addListener('place_changed', fillInForm);
    function fillInForm() {
      let place = autocomplete.getPlace()

    if (!place.geometry) {
      // User entered the name of a Place that was not suggested and
      // pressed the Enter key, or the Place Details request failed.
      window.alert("No details available for input: '" + place.name + "'");
      return;
    }

    document.getElementById('user_latitude').value = place.geometry.location.lat()
    document.getElementById('user_longitude').value = place.geometry.location.lng()
    }
  }
</script>

