<div class="container">
  <ul class="list-inline tabs-underlined">
    <!-- tabs without js function need to add js to show the right div -->
    <li>
      <p class="tab-underlined active-tab">Connections</p>
    </li>
    <!-- <li>
      <p class="tab-underlined">Sent</p>
    </li>
    <li>
      <p class="tab-underlined">Received</p>
    </li> -->
    <li>
      <p class="tab-underlined">People you may know</p>
    </li>
  </ul>
  <div class="lists">
    <% if current_user.connections.any? %>
      <div class="connections">
        <% current_user.connections.sort.reverse.each do |connection| %>
          <div class="connection">
            <div class="connection-head">
              <% if connection.opposed_user(current_user).photo.attached? %>
                <%= cl_image_tag connection.opposed_user(current_user).photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag 'profile.png', class: "avatar" %>
              <% end %>
              <div class="connection-content">
                <p><%= link_to connection.opposed_user(current_user).full_name, user_path(connection.opposed_user(current_user)), style: 'font-weight:700;' %></p>
                <p>Home city: <%= connection.opposed_user(current_user).home_city %></p>
              </div>
            </div>
            <div class="connection-actions">
              <%= link_to '', user_chats_path(connection.opposed_user(current_user)), method: :post, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Chat', class: 'fas fa-comment' %>
              <%= link_to '', connection_path(connection), method: :delete, data: { confirm: "Are you sure?", toggle: 'tooltip', placement: 'bottom' }, title: 'Disconnect', class: 'far fa-trash-alt' %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="empty-connections">
        <div class="empty-content">
          <i class="fas fa-users"></i>
          <p>No connections</p>
        </div>
      </div>
    <% end %>
  </div>
  <!-- <div class="lists" style="display: none;">
    <div class="connections">
      <%# @sent_requests.each do |request| %>
        <div class="connection">
          <div class="connection-head">
            <%# if request.receiver.photo.attached? %>
              <%#= cl_image_tag request.receiver.photo.key, class: "avatar" %>
            <%# else %>
              <%#= image_tag 'profile.png', class: "avatar" %>
            <%# end %>
            <div class="connection-content">
              <p><%#= link_to request.receiver.full_name, user_path(request.receiver), style: 'font-weight:700;' %></p>
              <p>Home city: <%#= request.receiver.home_city %></p>
            </div>
          </div>
          <div class="connection-actions">
            <%#= link_to '', connect_request_path(request), method: :delete, data: { confirm: "Are you sure?", toggle: 'tooltip', placement: 'bottom' }, title: 'Cancel request', class: 'far fa-trash-alt' %>
          </div>
        </div>
      <%# end %>
    </div>
  </div>
  <div class="lists" style="display: none;">
    <div class="connections">
      <%# @received_requests.each do |request| %>
        <div class="connection">
          <div class="connection-head">
            <%# if request.sender.photo.attached? %>
              <%#= cl_image_tag request.sender.photo.key, class: "avatar" %>
            <%# else %>
              <%#= image_tag 'profile.png', class: "avatar" %>
            <%# end %>
            <div class="connection-content">
              <p><%#= link_to request.sender.full_name, user_path(request.sender), style: 'font-weight:700;' %></p>
              <p>Home city: <%#= request.sender.home_city %></p>
            </div>
          </div>
          <div class="connection-actions">
            <%#= link_to '', connect_request_connections_path(request), method: :post, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Accept', class: 'fas fa-check' %>
            <%#= link_to '', connect_request_path(request), method: :delete, data: { confirm: "Are you sure?", toggle: 'tooltip', placement: 'bottom' }, title: 'Decline', class: 'far fa-trash-alt' %>
          </div>
        </div>
      <%# end %>
    </div>
  </div> -->
  <div class="lists" style="display: none;">
    <% if current_user.requestable_contacts || current_user.non_matching_contacts %>
      <div class="connections">
        <% if current_user.requestable_contacts %>
          <% current_user.requestable_contacts.each do |user| %>
            <div class="connection">
              <div class="connection-head">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag 'profile.png', class: "avatar" %>
                <% end %>
                <div class="connection-content">
                  <p><%= link_to user.full_name, user_path(user), style: 'font-weight:700;' %></p>
                  <p>Home city: <%= user.home_city %></p>
                </div>
              </div>
              <div class="connection-actions">
                <%= link_to '', user_connect_requests_path(user), method: :post, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Connect', class: 'fas fa-users' %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if current_user.non_matching_contacts %>
          <% current_user.non_matching_contacts.each do |contact| %>
            <% if contact.invited_at.nil? %>
              <div class="connection">
                <div class="connection-head">
                  <%= image_tag 'profile.png', class: "avatar" %>
                  <div class="connection-content">
                    <p style="font-weight: 700;"><%= contact.first_name + ' ' + contact.last_name %></p>
                  </div>
                </div>
                <div class="connection-actions">
                  <%= link_to '', contact_path(contact), method: :patch || :put, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Invite', class: 'far fa-envelope' %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if !current_user.non_matching_contacts && !current_user.requestable_contacts %>
      <div class="empty-connections">
        <div class="empty-content">
          <i class="fas fa-users"></i>
          <p>No contacts</p>
          <button class="btn-flat">Import contact</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  const tabs = document.querySelectorAll('.tab-underlined')
  const lists = document.querySelectorAll('.lists')
  const entries = function*(iterable) {
    let i = 0;
    for (item of iterable) {
      yield [i++, item]
    }
  }
  const showBlock = index => {
    for (const [blockIndex, block] of entries(lists)) {
      block.style.display = blockIndex === index ? 'block' : 'none'
    }
  }
  showBlock(0)
  for (const [tabIndex, tab] of entries(tabs)) {
    tab.addEventListener('click', e => {
      e.preventDefault()
      showBlock(tabIndex)
      const activeTab = document.querySelector('.active-tab');
      event.currentTarget.classList.toggle('active-tab');
      if (activeTab !== null) {
        activeTab.classList.remove('active-tab');
      }
    })
  }
  document.addEventListener("DOMContentLoaded", function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
