<div class="container">
  <ul class="list-inline tabs-underlined">
    <!-- tabs without js function need to add js to show the right div -->
    <li>
      <p class="tab-underlined active">Friends</p>
    </li>
    <li>
      <p class="tab-underlined">Sent</p>
    </li>
    <li>
      <p class="tab-underlined">Received</p>
    </li>
    <li>
      <p class="tab-underlined">Add friends from your contact list</p>
    </li>
  </ul>
  <div class="lists">
    <h1>Friends list</h1>
    <% current_user.friends.sort.reverse.each do |friend| %>
      <% if friend.friend_sender == current_user %>
        <p><%= friend.friend_receiver.full_name %></p>
      <% else %>
        <p><%= friend.friend_sender.full_name %></p>
      <% end %>
    <% end %>
  </div>
  <div class="lists" style="display: none;">
    <h1>Sent requests</h1>
    <% @sent_requests.each do |request| %>
      <p>Sent request to <%= request.receiver.full_name %></p>
      <%= link_to "Cancel", friend_request_path(request), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-ghost" %>

    <% end %>
  </div>
  <div class="lists" style="display: none;">
    <h1>Received requests</h1>
    <% @received_requests.each do |request| %>
      <p><%= request.sender.full_name %> sent you a request</p>
      <%= simple_form_for [request, @friendship] do |f| %>
        <%= f.submit "Accept", class: "btn btn-ghost" %>
      <% end %>
      <%= link_to "Decline", friend_request_path(request), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-ghost" %>
    <% end %>
  </div>
  <div class="lists" style="display: none;">
    <h1>People on your contact list</h1>
    <% @requestable_users.each do |user| %>
      <p><%= user.full_name %></p>
      <%= simple_form_for [user, @friend_request] do |f| %>
        <%= f.submit "Friend request", class: "btn btn-ghost" %>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  const tabs = document.querySelectorAll('.tab-underlined')
  const lists = document.querySelectorAll('.lists')
  const entries = function*(iterable) {
    let i = 0;
    for (item of iterable) {
      yield [i++, item]
    }
  }
  const showBlock = index => {
    for (const [blockIndex, block] of entries(lists)) {
      block.style.display = blockIndex === index ? 'block' : 'none'
    }
  }
  showBlock(0)
  for (const [tabIndex, tab] of entries(tabs)) {
    tab.addEventListener('click', e => {
      e.preventDefault()
      showBlock(tabIndex)
      const active = document.querySelector('.active');
      event.currentTarget.classList.toggle('active');
      if (active !== null) {
        active.classList.remove('active');
      }
    })
  }
</script>
