<div class="container">
  <h1>Sent requests</h1>
  <% @sent_requests.each do |request| %>
    <p>Sent request to <%= request.receiver.full_name %></p>
  <% end %>

  <h1>Received requests</h1>
  <% @received_requests.each do |request| %>
    <p><%= request.sender.full_name %> sent you a request</p>
    <%= simple_form_for [request, @friendship] do |f| %>
      <%= f.submit "Accept", class: "btn btn-ghost" %>
    <% end %>
    <%= link_to "Decline", friend_request_path(request), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-ghost" %>
  <% end %>

  <h1>Friends list</h1>
  <% current_user.friends.sort.reverse.each do |friend| %>
    <% if friend.friend_sender == current_user %>
      <p><%= friend.friend_receiver.full_name %></p>
    <% else %>
      <p><%= friend.friend_sender.full_name %></p>
    <% end %>
  <% end %>

  <h1>All contacts</h1>
  <% current_user.contacts.each do |contact| %>
    <p><%= (contact.first_name + " " + contact.last_name) %></p>
    <p><%= contact.phone_number %></p>
    <p><%= contact.email %></p>
  <% end %>

  <h1>Only contacts I can add</h1>
  <% @requestable_users.each do |user| %>
    <p><%= user.full_name %></p>
  <% end %>
</div>

