<div class="container">
  <div class="row">
    <div class="ketchups col-6">
      <div class="ketchups-header">
        <p>Received</p>
      </div>
      <% if @received_ketchups.any? %>
        <% @received_ketchups.each do |ketchup| %>
          <div class="ketchup">
            <div class="ketchup-head">
              <% if ketchup.opposed_user(current_user).photo.attached? %>
                <%= cl_image_tag ketchup.opposed_user(current_user).photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag 'profile.png', class: "avatar" %>
              <% end %>
              <div class="ketchup-content">
                <button class="<%= ketchup.status %>"><%= ketchup.status %></button>
                <p><a href="/ketchups/<%= ketchup.id %>"><%= ketchup.opposed_user(current_user).full_name %>(<%= ketchup.trip.location %>)</a></p>
                <p><small>When: <%= ketchup.start_date.strftime('%b %d, %Y %I:%M %p') %></small></p>
                <p><small>Where: <%= ketchup.location %></small></p>
              </div>
            </div>
            <div class="ketchup-actions">
              <%= link_to '', ketchup_path(ketchup), method: :patch || :put, class: "fas fa-check" if ketchup.status == 'pending' %>
              <%= link_to '', ketchup_path(ketchup), method: :delete, data: {confirm: 'Are you sure?'}, class: "far fa-trash-alt" if ketchup.status == 'pending' %>
              <%= link_to '', '', data: { toggle: "modal", target: "#ketchupCancelModal-#{ketchup.id}" }, class: "far fa-trash-alt" if ketchup.status == 'confirmed' %>
            </div>
          </div>
          <% if ketchup.status == 'confirmed' %>
            <div class="modal fade" id="ketchupCancelModal-<%= ketchup.id %>" tabindex="-1" role="dialog" aria-labelledby="ketchupCancelModalLabel" aria-hidden="true">
              <%= render 'ketchups/cancel_form', ketchup: ketchup %>
            </div>
          <% end %>
        <% end %>
      <% elsif @received_ketchups.empty? %>
        <p>No ketchup requests received</p>
      <% end %>
    </div>
    <div class="ketchups col-6">
      <div class="ketchups-header">
        <p>Sent</p>
      </div>
      <% if @sent_ketchups.any? %>
        <% @sent_ketchups.each do |ketchup| %>
          <div class="ketchup">
            <div class="ketchup-head">
              <% if ketchup.opposed_user(current_user).photo.attached? %>
                <%= cl_image_tag ketchup.opposed_user(current_user).photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag 'profile.png', class: "avatar" %>
              <% end %>
              <div class="ketchup-content">
                <button class="<%= ketchup.status %>"><%= ketchup.status %></button>
                <p><a href="/ketchups/<%= ketchup.id %>"><%= ketchup.opposed_user(current_user).full_name %>(<%= ketchup.trip.location %>)</a></p>
                <p><small>When: <%= ketchup.start_date.strftime('%b %d, %Y %I:%M %p') %></small></p>
                <p><small>Where: <%= ketchup.location %></small></p>
              </div>
            </div>
            <div class="ketchup-actions">
              <%= link_to '', ketchup_path(ketchup), method: :delete, data: {confirm: 'Are you sure?'}, class: "far fa-trash-alt" if ketchup.status == 'pending' %>
              <%= link_to '', '', data: { toggle: "modal", target: "#ketchupCancelModal-#{ketchup.id}" }, class: "far fa-trash-alt" if ketchup.status == 'confirmed' %>
            </div>
          </div>
          <div class="modal fade" id="ketchupCancelModal-<%= ketchup.id %>" tabindex="-1" role="dialog" aria-labelledby="ketchupCancelModalLabel" aria-hidden="true">
            <%= render 'ketchups/cancel_form', ketchup: ketchup %>
          </div>
        <% end %>
      <% elsif @sent_ketchups.empty? %>
        <p>No ketchup requests sent</p>
      <% end %>
    </div>
  </div>
</div>
