<div class="container">
  <div class="row">
    <div class="notifications col-12 col-lg-8 offset-lg-2">
      <% @my_notifications.each do |notification| %>
        <% if notification.read_at.nil? %>
          <div class="notification" data-notification-id='<%= notification.id %>'>
        <% else %>
          <div class="notification" data-notification-id='<%= notification.id %>' style="background: white;">
        <% end %>
          <div class="notification-head">
            <% if notification.actor.photo.attached? %>
              <%= cl_image_tag notification.actor.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag 'profile.png', class: "avatar" %>
            <% end %>
            <div class="notification-content">
              <p><small><%= notification.month %> <%= notification.day %>, <%= notification.year %></small></p>
              <p>
                <%= link_to notification.actor.full_name, user_path(notification.actor), style: 'font-weight:700;' %> <%= notification.action %>
                <%= notification.notifiable_type.to_s.underscore.humanize.downcase if notification.notifiable_type != 'Trip' %>
                <em style="opacity: 0.7;"><%= Ketchup.find(notification.notifiable_id).cancel_reason if (notification.notifiable_type == 'Ketchup' && notification.action == 'has cancelled your') %></em>
              </p>
            </div>
          </div>
          <div class="notification-actions">
            <% if (notification.notifiable_type == 'ConnectRequest') && (notification.action == 'sent you a') && ConnectRequest.find(notification.notifiable_id).status == "pending" %>
              <%= link_to '', connect_request_connections_path(ConnectRequest.find(notification.notifiable_id)), method: :post, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Connect', class: 'fas fa-check' %>
              <%= link_to '', connect_request_path(notification.notifiable_id), method: :delete, data: { confirm: "Are you sure?", toggle: 'tooltip', placement: 'bottom' }, title: 'Decline', class: 'fas fa-times' %>
            <% elsif (notification.notifiable_type == 'Ketchup') && (notification.action == 'has sent you a request to') && Ketchup.find(notification.notifiable_id).status == "pending" %>
              <%= link_to '', ketchup_path(Ketchup.find(notification.notifiable_id)), method: :patch || :put, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Accept', class: 'fas fa-check' %>
              <%= link_to '', ketchup_path(Ketchup.find(notification.notifiable_id)), method: :delete, data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'bottom' }, title: 'Decline', class: 'fas fa-times' %>
            <% elsif notification.notifiable_type == 'Trip' %>
              <span data-toggle="tooltip" data-placement="bottom" data-original-title="Ketchup"><%= link_to '', '', data: { toggle: "modal", target: "#ketchupCreateModal-#{notification.notifiable_id}" }, class: 'fas fa-wine-bottle', id: "ketchup-#{notification.notifiable_id}" %></span>
              <%= link_to '', user_chats_path(notification.actor), method: :post, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Chat', class: 'fas fa-comment' %>
            <% else %>
              <%= link_to '', notification_path(notification), method: :delete, remote: true, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Dismiss', class: 'fas fa-times' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% @my_trip_notifications.each do |notification| %>
  <div class="modal fade" id="ketchupCreateModal-<%= notification.notifiable_id %>" tabindex="-1" role="dialog" aria-labelledby="ketchupCreateModalLabel" aria-hidden="true">
    <%= render 'ketchups/form_from_notification', trip: Trip.find(notification.notifiable_id), ketchup: @ketchup, notification: notification %>
  </div>
<% end %>
<script>
  function initMap() {
    <% @my_trip_notifications.each do |notification| %>
      var input<%= notification.notifiable_id %> = document.getElementById('ketchup_location_<%= notification.notifiable_id %>');
      var autocomplete<%= notification.notifiable_id %> = new google.maps.places.Autocomplete(input<%= notification.notifiable_id %>, {types: ['establishment']});
      autocomplete<%= notification.notifiable_id %>.setFields(['geometry', 'name']);
      autocomplete<%= notification.notifiable_id %>.addListener('place_changed', fillInForm<%= notification.notifiable_id %>);
      function fillInForm<%= notification.notifiable_id %>() {
        var place<%= notification.notifiable_id %> = autocomplete<%= notification.notifiable_id %>.getPlace();
        if (!place<%= notification.notifiable_id %>.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert("No details available for input: '" + place<%= notification.notifiable_id %>.name + "'");
          return;
        }
        document.getElementById('ketchup_latitude_<%= notification.notifiable_id %>').value = place<%= notification.notifiable_id %>.geometry.location.lat()
        document.getElementById('ketchup_longitude_<%= notification.notifiable_id %>').value = place<%= notification.notifiable_id %>.geometry.location.lng()
      }
    <% end %>
  }
  <% @my_trip_notifications.each do |notification| %>
    document.addEventListener("DOMContentLoaded", function() {
      $('#ketchup_start_date_<%= notification.notifiable_id %>').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 15,
        startDate: '<%= Trip.find(notification.notifiable_id).start_date.strftime('%b %d, %Y 12:00 PM') %>',
        minDate: '<%= Trip.find(notification.notifiable_id).start_date.strftime('%b %d, %Y %I:%M %p') %>',
        maxDate: '<%= Trip.find(notification.notifiable_id).end_date.strftime('%b %d, %Y 11:30 PM') %>',
        opens: "right",
        locale: {
          format: 'MMM DD, YYYY hh:mm A'
        }
      });
    });
  <% end %>
  document.addEventListener("DOMContentLoaded", function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>

