<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="profile-container">
        <div class="photo-container">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "profile-photo" %>
          <% else %>
            <%= image_tag 'profile.png', class: "profile-photo" %>
          <% end %>
        </div>
        <% if @user == current_user %>
          <%= link_to '📷', '', data: { toggle: "modal", target: "#profilePictureModal" }, class: 'btn profile-photo-update-btn' %>
        <% end %>
        <div class="profile-name">
          <%= @user.full_name %>
          <%= link_to '', '', data: { toggle: "modal", target: "#profileDetailModal" }, class: 'fas fa-edit' if @user == current_user %>
        </div>
        <div class="profile-infos">
          <p><i class="fas fa-map-marker-alt"></i> Home City: <%= @user.home_city %></p>
        <% if @user == current_user %>
          <p><i class="fas fa-mobile-alt"></i> Mobile: <%= @user.phone_number %></p>
          <p><i class="far fa-envelope"></i> Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
          <%= link_to 'Change password', '', data: { toggle: "modal", target: "#passwordModal" } %>
        </div>
        <% elsif current_user.is_connection?(@user) %>
          <p><i class="fas fa-mobile-alt"></i> Mobile: <%= @user.phone_number %></p>
          <p><i class="far fa-envelope"></i> Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
        </div>
        <div class="profile-btn">
          <%= simple_form_for [@user, @chat] do |f| %>
            <%= f.submit 'Chat', class: 'btn btn-flat' %>
          <% end %>
          <%= link_to "Disconnect", connection_path(Connection.find_by(connection_sender: current_user, connection_receiver: @user) || Connection.find_by(connection_sender: @user, connection_receiver: current_user)), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-ghost" %>
        </div>
        <% elsif current_user.sent_connect_request?(@user) %>
        </div>
        <div class="profile-btn">
          <%= link_to "Cancel connect request", connect_request_path(ConnectRequest.find_by(sender: current_user, receiver: @user)), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-ghost" %>
        </div>
        <% elsif current_user.received_connect_request?(@user) %>
        </div>
        <div class="profile-btn">
          <%= simple_form_for [ConnectRequest.find_by(sender: @user, receiver: current_user), @connection] do |f| %>
            <%= f.submit "Accept connect request", class: "btn btn-flat" %>
          <% end %>
          <%= link_to "Decline", connect_request_path(ConnectRequest.find_by(sender: @user, receiver: current_user)), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-ghost" %>
        </div>
        <% else %>
        </div>
        <div class="profile-btn">
          <%= simple_form_for [@user, @connect_request] do |f| %>
            <%= f.submit "Connect request", class: "btn btn-flat" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="profileDetailModal" tabindex="-1" role="dialog" aria-labelledby="profileDetailModalLabel" aria-hidden="true">
  <%= render 'devise/registrations/detail_form', resource: current_user %>
</div>
<div class="modal fade" id="profilePictureModal" tabindex="-1" role="dialog" aria-labelledby="profilePictureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-photo" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="profilePictureModalLabel">Crop profile photo</h5>
        <button data-dismiss="modal" aria-label="Close" style="display: none;" id="close-modal">
        </button>
      </div>
      <div class="modal-body text-center">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="row">
            <div class="col-10 offset-1 p-0">
              <%= f.input :photo, as: :file, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a profile photo' %>
            </div>
          </div>
          <div class="row">
            <div class="col-5 offset-1 p-0">
              <canvas id="canvas" style="width: 100%; height: 55vh;"></canvas>
            </div>
            <div class="col-4 offset-1 p-0">
              <div id="photo-preview"></div>
            </div>
          </div>
          <div class="d-flex justify-content-around mt-4">
            <%= link_to 'Reset', '', class: 'btn btn-ghost', id: 'btnReset'  %>
            <%= link_to 'Crop', '', class: 'btn btn-ghost', id: 'btnCrop' %>
            <%= f.button :submit, "Upload", class: 'btn-flat' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="passwordModalLabel">Change password</h5>
        <button data-dismiss="modal" aria-label="Close" style="display: none;" id="close-modal">
        </button>
      </div>
      <div class="modal-body text-center">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: true,
                      label: 'New password',
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, "Update", class: 'btn-flat mb-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
