<div class="navbar navbar-expand-md navbar-ketchup">
  <%= link_to root_path, class: "navbar-brand" do %>
    <!-- <img src="https://img.talkandroid.com/uploads/2014/03/ketchup.png" alt="logo"> -->
    KetchUp
  <% end %>
  <button class="navbar-toggler" type="button" id="open-btn">&#9776;</button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <!-- more nav items needed such as chat -->
        <li class="nav-item btn-group <%= "active" if request.url.split('/').last == 'notifications' %>">
          <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i>
              <span class="unread-count" id="unread-count">
                <%= @notifications.length if @notifications.present? %>
              </span>
          </a>
          <div class="dropdown-menu notification-drop" aria-labelledby="dropdownMenu1">
            <% if @notifications.present? %>
              <!-- limited to lastest 10 for now -->
              <% @notifications.first(10).each do |notification| %>
                <% if notification.notifiable_type == 'Trip' %>
                  <%= link_to notification.actor.full_name + " " + notification.action, notification_path(notification), method: :patch || :put, class: 'dropdown-item' %>
                <% else %>
                  <%= link_to notification.actor.full_name + " " + notification.action + " " + notification.notifiable_type.to_s.underscore.humanize.downcase, notification_path(notification), method: :patch || :put, class: 'dropdown-item' %>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to "See All", user_notifications_path(current_user), class: 'dropdown-item text-center all' %>
          </div>
        </li>
        <li class="nav-item <%= "active" if request.url.split('/').last == 'connections' %>">
          <%= link_to "Connections", user_connections_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item <%= "active" if request.url.split('/').last == 'ketchups' %>">
          <%= link_to "Ketchups", user_ketchups_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item <%= "active" if request.url.split('/').last == 'trips' %>">
          <%= link_to "Trips", user_trips_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.lewagon_username %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.lewagon_username}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% if user_signed_in? %>
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" id="close-btn">&times;</a>
    <%= link_to edit_user_registration_path do %>
      <% if current_user.lewagon_username %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.lewagon_username}", class: "avatar mr-2" %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar mr-2" %>
      <% end %>
      <%= current_user.full_name %>
    <% end %>
    <%= link_to user_notifications_path(current_user) do %>
      Notifications
      <span class="unread-count">
      <% if @notifications.present? %>
        (<%= @notifications.length %>)
        <% end %>
      </span>
    <% end %>
    <%= link_to "Trips", user_trips_path(current_user) %>
    <%= link_to "Ketchups", user_ketchups_path(current_user) %>
    <%= link_to "Connections", user_connections_path(current_user) %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" id="close-btn">&times;</a>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
<% end %>
<script>
  const open = document.getElementById("open-btn");
  const close = document.getElementById("close-btn");
  open.addEventListener('click', e => {
    document.getElementById("mySidenav").style.width = "70vw";
  })
  close.addEventListener('click', e => {
    document.getElementById("mySidenav").style.width = "0";
  })
</script>
