<div class="container">
  <div class="row">
    <div class="chat-list">
      <% current_user.chats.each do |chat| %>
        <a href="/chats/<%= chat.id %>"><p>Chat with <%= chat.opposed_user(current_user).full_name %></p></a>
      <% end %>
    </div>
    <div class="current-chat">
      <h2><%= @chat.opposed_user(current_user).full_name %></h2>
      <div class="messages">
        <% @messages.each do |message| %>
          <% if @my_messages.include?(message) %>
            <div class="col-8 offset-4 d-flex justify-content-end">
              <div class="my-message-bubble my-msg"><p><%= message.body %></p></div>
            </div>
          <% elsif @other_messages.include?(message) %>
            <div class="col-8 d-flex">
              <div class="other-message-bubble other-msg"><p><%= message.body %></p></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="message-form">
        <%= render 'messages/form', chat: @chat, message: @message %>
      </div>
    </div>
  </div>
</div>
