<%= render 'shared/banner' %>
<div class="stripe">
  <h2>How KetchUp works</h2>
  <div class="home-info text-center">
   <div class="info">
    <i class="fas fa-users"></i>
     <h3>Find, connect & chat</h3>
     <p>Import contacts & invite connections.</p>
   </div>
   <div class="info">
     <i class="fas fa-plane-departure"></i>
     <h3>Plan trips</h3>
     <p>Let your connections know when you're in town.</p>
   </div>
   <div class="info">
     <i class="far fa-calendar-check"></i>
     <h3>Organize a ketchup</h3>
     <p>Meet & catch up!</p>
   </div>
 </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
<script>
  function initMap() {
    let input = document.getElementById('trip_location');
    let autocomplete = new google.maps.places.Autocomplete(input, {types: ['(cities)']});
    autocomplete.setFields(['address_components', 'geometry', 'name']);
    function fillInForm() {
      let place = autocomplete.getPlace();
      if (!place.geometry) {
        // User entered the name of a Place that was not suggested and
        // pressed the Enter key, or the Place Details request failed.
        window.alert("No details available for input: '" + place.name + "'");
        return;
      };
      console.log(place.address_components);
      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        // get the country code (the "short name")
        if (addressType == "country") {
          document.getElementById('trip_country_code').value = place.address_components[i].short_name;
        }
      }
      document.getElementById('trip_latitude').value = place.geometry.location.lat();
      document.getElementById('trip_longitude').value = place.geometry.location.lng();
    }
    autocomplete.addListener('place_changed', fillInForm);
  }
  document.addEventListener("DOMContentLoaded", function() {
    $('#trip_dates').daterangepicker({
      autoApply: true,
      minDate: '<%= @today %>',
      startDate: '<%= @today %>',
      endDate: '<%= @today %>',
      opens: "center",
      locale: {
        format: 'MMM DD, YYYY'
      }
    });
  });
</script>
